body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.highlight {
    font-size: 25px;
    font-weight: bold;
    color: #970B13;
}

#barchart {
    width: 800px;
    height: 450px;
}




.state {
    font-size: 25px;
    font-weight: bold;
    color: #E4619A;
}

.desc1 {
    width: 80%;
}

.desc2 {
    width: 80%;
    display: flex;
    gap: 20px;
    
}

.desc3 {
    align-items: center;
}

.container h2 {
    align-items: left;
    width: 80%;
}

p {
    font-size: 20px
}

.tip {
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    color: gray;
}

